body{
    margin: 0;
    padding: 0;

}
.container{
    width: 90%;
    margin: auto;
    background: black;
    height: 40px;
}
.bbc-header{
    width: 100%;
    height: 70px;
    background: black;
    color: white;
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.logo-section{
    font-weight: bold;
    width: 25%;
    justify-content: space-between;
    justify-self: center;
}
.bbox{
    width: 30px;
height: 30px;
color: black;
background: white;
margin: 10px;
font-size: 30px;
float: left;

}
.bbox1{
    margin: 20px;
    font-size: 15px;
}
.menu-section
{
    width: 60%;
    margin: 20px;
    display:flex;
    justify-content: space-between;
    font-size:15px
}
.search-section{
    width: 15%;
    height:30px;
    
    margin:20px;
}


