
.container {
    background-color: gray;
    height: auto;
    width: 90vw;
    margin: 0px auto;
    display: flex;
    padding: 20px 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.left { 
    width: 48%;
    height: 300px;
    background-color: blue;
}


.right { 
    width: 48%;
    height: 300px;
    background-color: red;
}


/* @media screen and (max-width: 768px) {
    .container {
        background-color: yellow;
        width: 90%;
        height: 80vh;
    }
} */


@media only screen and (max-width: 768px) {
    .container {
        padding: 20px 20px;
        width: 90%;
        gap: 20px;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding: 10px 10px;
        width: 96%;
        gap: 10px;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}